
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}



nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 20px;
}

nav img{
    height: 50px;
}

.lang-btn{
    height: 40px;
    width: 105px;
    border-radius: 4px;
    border: 1px solid white;
    background-color: transparent;
    color: white ;
    font-weight: 400;
    font-size: 15px;
}

.lang-btn i {
    margin: 4px;
}

.sign-btn{
    height: 40px;
    width: 90px;
    border-radius: 4px;
    background-color: #E50914;
    color: white;
    font-weight: 400;
    font-size: 15px;
    border: none;
}

.nav-links{
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-container{
    height: 100vh;
    background-image: url(./images/main.jpg) ;
    background-position: center;
    background-size: cover;
}

.primary-container{
    height: 100%;
    background: rgba(0,0,0,.4);
    background-image:  linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 60%,rgba(0,0,0,.8));
}

.container{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 70%;
}

.container h1{
    font-size: 50px;
    width: 50%;
    text-align: center;
    line-height: 60px;
    font-weight: 700;
    margin-bottom: 20px;
}

.container h4{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 25px;
}

.container p{
    font-size: 20px;
    font-weight: 400;
}

form{
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.container input{
    height: 70px;
    width: 500px;
    padding-left: 10px;
    font-weight: 400;
    font-size: 17px;
}

.container button{
    background-color: #E50914;   
    height: 70px;
    width: 235px;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 25px;
}

form button i {
    margin-left: 10px;
}

.tv-section, .mobile-section, .monitor-section , .children-section{
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    background-color: black;
    color: white;
    border-top: 8px solid #222;
    position: relative;
    z-index: -2;
}

.text-section{
    width: 45%;
}

.text-section h1{
    font-size: 45px;
    margin-bottom: 10px;
}
.text-section h2{
    font-size: 27px;
    font-weight: 400;
}

.image-section{
    width: 40%;
}

.image-section img{
    height: 350px;
}

.mobile-section h1 , .children-section h1{
    line-height: 55px ;
}

.FAQ{
    background-color: black;
    color: white;
    border-top: 8px solid #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 85px;
    border-bottom: 8px solid #222;
}

.FAQ h1{
    font-size: 50px;
    margin-bottom: 35px;
    font-weight: 700;
}

.FAQ h3{
    background-color: #303030;
    width: 60%;
    margin-top: 8px ;
    height: 80px;
    padding: 20px 57px 20px 31px;
    font-size: 28px ;
    font-weight: 400;
    position: relative;
}

.FAQ h3 i {
    position: absolute;
    right: 31px;
}

.FAQ p{
    margin-top: 50px;
    font-weight: 400;
    font-size: 18px;
}

.FAQ form{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.FAQ input{
    height: 70px;
    width: 500px;
    padding-left: 10px;
    font-weight: 400;
    font-size: 17px;
}

.FAQ button{
    background-color: #E50914;   
    height: 70px;
    width: 235px;
    border: none;
    color: white;
    font-weight: 400;
    font-size: 30px;
}

.contact-section{
    height: 450px;
    background-color: black;
    color: #737373 ;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    padding-left: 260px;
}

.contact-section p{
    font-size: 16px;
    padding-left: 45px;
}

.contact-section ul{
    list-style: none;
}

.contact-section .about{
    display: flex;
    font-size: 13px;
    margin-top: 10px;
    justify-content: space-between;
    width: 65%;
}

li{
    margin: 15px
}

.about ul li:hover{
    text-decoration: underline;
    color: #737373;
    cursor: pointer;
}

.contact-section .lang-btn{
    height: 50px;
    width: 125px;
    border-radius: 2px;
    border: 1px solid #737373;
    background-color: transparent;
    color: #737373 ;
    font-weight: 400;
    font-size: 15px;
    margin-left: 45px;
    position: relative;
    padding-left: 25px;
}

.contact-section .lang-btn .bi-globe{
    position: absolute;
    left: 6px;
    top: 10px;   
}

.contact-section .Netflix-India{
    font-size: 13px;
    margin-top: 25px;
}

.screen-1{
    position: relative;
}

.video-1{
    position: absolute;
    top: 68px;
    height: 200px;
    right: 75px;
    width: 340px;
    z-index: -1;
}

.screen-2{
    position: relative;
}

.video-2{
    position: absolute;
    top: 13px;
    height: 200px;
    right: 90px;
    width: 300px;
    z-index: -1;
}


@media screen and (max-width: 650) {

    

}